<div class="page-header">
  <h3>Director #<%= @director.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Names</dt>
      <dd><%= @director.names %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @director.image %>" class="img-responsive"></dd>

      <dt>Movie</dt>
      <dd><%= @director.movie_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/directors" class="btn btn-primary">
        Back
      </a>
      <a href="/directors/<%= @director.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_director/<%= @director.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Director has many filmography -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Filmography
      </li>

      <% @director.filmography.each do |movie| %>
        <li class="list-group-item">
          <a href="/movies/<%= movie.id %>">
            <%= movie.title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/movies/<%= movie.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/movies/<%= movie.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_movie/<%= movie.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
