<!-- Validation failure messages -->
<% if @casting.errors.any? %>
  <% @casting.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Casting #<%= @casting.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_casting/<%= @casting.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for character_name -->
      <div class="form-group">
        <label for="character_name" class="control-label">
          Character name
        </label>

        <input type="text" id="character_name" name="character_name" placeholder="Character name" class="form-control" value="<%= @casting.character_name %>">
      </div>

      <!-- Label and input for movie_id -->
      <div class="form-group">
        <label for="movie_id" class="control-label">
          Movie
        </label>

        <input type="text" id="movie_id" name="movie_id" placeholder="Movie" class="form-control" value="<%= @casting.movie_id %>">
      </div>

      <!-- Label and input for actor_id -->
      <div class="form-group">
        <label for="actor_id" class="control-label">
          Actor
        </label>

        <input type="text" id="actor_id" name="actor_id" placeholder="Actor" class="form-control" value="<%= @casting.actor_id %>">
      </div>

      <button class="btn btn-warning">
        Update Casting
      </button>
      or
      <a href="/castings/<%= @casting.id %>">Cancel</a>
    </form>
  </div>
</div>
