<!-- Validation failure messages -->
<% if @casting.errors.any? %>
  <% @casting.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Casting</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_casting" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for character_name -->
      <div class="form-group">
        <label for="character_name" class="control-label">
          Character name
        </label>

        <input type="text" id="character_name" name="character_name" placeholder="Character name" class="form-control" value="<%= @casting.character_name %>">
      </div>

      <!-- Label and input for movie_id -->
      <div class="form-group">
        <label for="movie_id" class="control-label">
          Movie
        </label>

        <%= select_tag(:movie_id, options_from_collection_for_select(Movie.all, :id, :title, @casting.movie_id), :class => "form-control") %>
      </div>

      <!-- Label and input for actor_id -->
      <div class="form-group">
        <label for="actor_id" class="control-label">
          Actor
        </label>

        <%= select_tag(:actor_id, options_from_collection_for_select(Actor.all, :id, :name, @casting.actor_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Casting
      </button>
      or
      <a href="/castings">Cancel</a>
    </form>
  </div>
</div>
